*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: system-ui;
}

.headder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(79, 79, 203);
    padding: 2rem 0;
    padding-left: 2.5rem;
}

.headder a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}



.home-but{
    margin-right: 30px;
}

.appointment-img{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgb(79, 79, 203)), url("images/pexels-andrea-piacquadio-3779695.jpg");
    background-position: center;
    background-size: cover;
}

.form-sheet{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 90%;
    max-width: 600px;
    padding: 20px;    
}

.form-group{
    margin-bottom: 40px;
    position: relative;
}

.user-details{
    display: grid;
    width: 100%;
}

.user-details1,.user-details2{
    display: flex;
}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    color: white;
    background: transparent;
    font-size: 15px;
}

.submit-button{
    outline: 0;
    background:transparent;
    width: 100%;
    border: #fff solid 2px;
    color: white;
    padding: 20px 0;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

textarea{
    transition: 0.2s;
}

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 14px;
}

textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.appoint-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}



